.header {
    padding: var(--padding);
    display: flex;
    align-items: center;
    max-height: 30px;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}
.nav{
    display: flex;
    gap: 1rem;
}
.menuItem{
    text-decoration: none;
    color: black;
}